html{
    background-color: silver;
    text-align: center;
}
.hi{
    font-size: 10px;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid black;
}

#nickname{
    color: white;
   
}
#daytime{
    color: blue;
    
}