p.hello{
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
    width: 260px;
    margin: 20px auto;
    position: relative;
    left: 25px;
}
.hello:hover{
    transform: scale(1.1);
    color: rgb(32, 155, 142);
}
ul.text a{
    position: relative;
    top: -15px;
    text-decoration: none;
    text-align: center;
    line-height: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #444444;
}
h4{
    cursor: pointer;
}
ul.text a:hover{
    color: rgb(96, 96, 211);
    text-decoration: underline;
}
p{
    width: 410px;
    display: flex;
    margin: -15px auto;
    margin-top: -25px;
    color: #444444;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
div.column1{
    position: relative;
    left: 10px;
    display: flex;
    width: 500px;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.image{
    width: 31rem;
    height: 340px;
    margin-right: 25px;
    border-radius: 5%;
    /*box-shadow: 0 0 0 3px rgb(255 255 255 / 50%);*/
    opacity: 10;

}
.image2{
   width: 300px;
   height: 280px;
   border-radius: 5%;
   opacity: 1;
}

div.block{
    position: relative;
    top: -30rem;
    margin: -130px;
    margin-left: 5px;
    margin-bottom: 135px;
    padding: 0px;
    justify-content: space-around;
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.block .left img{
    width: 130px;
    height:86px;
    border-radius: 10px;
}
.block .left:hover{
    transform: scale(1.05);
}
.block .right{
    width: 240px;
}
img{
    width: 200%;
}
a.link1{
    text-decoration: none;
    display: block;
    color: 	#777777;
}
a.link1:hover{
    color:rgb(0, 140, 255);
}
a.link2{
    text-decoration: none;
    display: block;
    color: 	#777777;
}
a.link2:hover{
    color:rgb(0, 140, 255);
}
.block .right span.minutes{
    text-decoration: none;
    display: block;
    color: 	#777777;
}
.block .right span.minutes:hover{
    color:rgb(54, 180, 189);

}
a.link3{
    text-decoration: none;
    display: block;
    color: 	#777777;
}
a.link3:hover{
    color:rgb(0, 140, 255);
}