<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">//encode HTML
        document.write(unescape("%0A%3Chtml%20lang%3D%22en%22%3E%0A%3Chead%3E%0A%20%20%20%20%3Cmeta%20charset%3D%22UTF-8%22%3E%0A%20%20%20%20%3Cmeta%20http-equiv%3D%22X-UA-Compatible%22%20content%3D%22IE%3Dedge%22%3E%0A%20%20%20%20%3Cmeta%20name%3D%22viewport%22%20content%3D%22width%3Ddevice-width%2C%20initial-scale%3D1.0%22%3E%0A%20%20%20%20%3Ctitle%3EClealove7%3C/title%3E%0A%20%20%20%20%3Clink%20rel%3D%22stylesheet%22%20href%3D%22css/style.css%22%3E%0A%20%20%20%20%3Cscript%20src%3D%22javascripts/data.js%22%3E%3C/script%3E%0A%3C/head%3E%0A%3Cbody%3E%0A%20%20%20%20%3Ch1%3E%0A%20%20%20%20%20%20%20%20Chatbot%20Messenger%20Fanpage%20Facebook%20%0A%20%20%20%20%3C/h1%3E%0A%20%20%20%20%3Cdiv%3E%0A%20%20%20%20%20%20%20%20%3Cimg%20src%3D%27image/bot.gif%27%3E%0A%20%20%20%20%3C/div%3E%0A%20%20%20%20%20%20%20%20%3Cscript%20src%3D%27https%3A//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js%27%3E%3C/script%3E%0A%20%20%20%20%20%20%20%20%3C/br%3E%0A%20%20%20%20%20%20%20%20%3C/br%3E%20%0A%20%20%20%20%20%20%20%20%3Ciframe%20src%3D%27https%3A//www.facebook.com/plugins/post.php%3Fhref%3Dhttps%253A%252F%252Fwww.facebook.com%252F117828560890633%252Fphotos%252Fa.117828614223961%252F117828830890606%252F%26show_text%3Dtrue%26width%3D500%27%20width%3D%27500px%27%20height%3D%27530px%27%20style%3D%27border%3Anone%3Boverflow%3Ahidden%27%20scrolling%3D%27no%27%20frameborder%3D%270%27%20allowfullscreen%3D%27true%27%20allow%3D%27autoplay%3B%20clipboard-write%3B%20encrypted-media%3B%20picture-in-picture%3B%20web-share%27%3E%3C/iframe%3E%0A%3C/body%3E%0A%3C/html%3E")); 
    </script>
</body>
</html>


   
