<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clealove7</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="javascripts/data.js"></script>
</head>
<body>
    <h1>
        Chatbot Messenger Fanpage Facebook 
    </h1>
    <div>
        <img src='image/bot.gif'>
    </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
        </br>
        </br> 
        <iframe src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2F117828560890633%2Fphotos%2Fa.117828614223961%2F117828830890606%2F&show_text=true&width=500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'></iframe>
</body>
</html>


   
